# Binaries
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Data
/data/*
!/data/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Environment
.env
*.local.yaml